<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Búsqueda de producto</title>
</head>
<body>
<div id="enlacei"><a href="adminProducto.html" >Ingresar Producto</a></div>
<div id="enlacer"><a href="producto.html" >Remover Producto</a></div>
<div id="consulta" align="center">
	<form  action="/" method="post"> 
	<table>
	<tr><td><input type="text" name="parameter"/></td>
	<td><input type="submit" value="Buscar"></td>
	</tr>
	</table> 
	</form>
	</div>
	
	            <div class="col m12 s12" align="center"  >
                <h3 style="color: #0A3D90">Productos Nubalia</h3>
                <table  border="1">
                    <thead>
                    <tr>
                    	<th>Identificador</th>
                        <th>Nombre</th>
                        <th>Etiqueta</th>
                        <th>Descripcion</th>
                    </tr>
                    </thead>
                  
                    <tbody>
                    {% for p in products %}
                    <tr>
                    	<td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.label}}</td>
                         <td>{{p.description}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
          
                </table>
            </div>
</body>
</html>