<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Productos Nubalia</title>
</head>
<script type="text/javascript">
window.onload = function() {
    if (!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
</script>


<body>

	<div id="enlace"><a href="adminProducto.html" >Ingresar Producto</a></div>
	<div id="enlace"><a href="/" >Buscar Producto</a></div>
	
    <div id="tab_productos" class="col s12 m12">
        <div class="row">
            <div class="col m12 s12" align="center"  >
                <h3 style="color: #0A3D90">Últimos productos</h3>
                	<b>Listado de productos de Nubalia</b>
			
                <table  border="1">
                    <thead>
                    <tr>
                    	<th>Identificador</th>
                        <th>Nombre</th>
                        <th>Etiqueta</th>
                        <th>Descripcion</th>
                                            </tr>
                    </thead>
                  
                    <tbody>
                    {% for p in products %}
                    <tr>
                       <form action="/producto.html?name={{p.name}}" method="post">
                    	<td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.label}}</td>
                        <td>{{p.description}}</td>
                        <td>
                        <input  type="submit" value="Eliminar" >
                      </td>
                       </form>
                    </tr>
                    {% endfor %}
                    </tbody>
          
                </table>
            </div>
        </div>
    </div>
</body>
</html>